<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>
<link rel="stylesheet" href="<%baseURL%>/css/bootstrap.css">
</head>
<body class="p-3 m-0 border-0 bd-example bd-example-cssgrid">